[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SCDB"]
	path = SCDB
	url = https://github.com/ssi-dk/scdb
[submodule "aeddo"]
	path = aeddo
	url = https://github.com/ssi-dk/aeddo
[submodule "aedseo"]
	path = aedseo
	url = https://github.com/ssi-dk/aedseo
[submodule "diseasystore"]
	path = diseasystore
	url = https://github.com/ssi-dk/diseasystore
[submodule "epiparameter"]
	path = epiparameter
	url = https://github.com/epiverse-trace/epiparameter
	registered = false
[submodule "simulist"]
	path = simulist
	url = https://github.com/epiverse-trace/simulist
	registered = false
